<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fotos da Natureza</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Fonte do google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Gowun+Batang&family=Halant:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
   <a class="button-link left-button" href="/lua">
        <img src="/img/arrow-bar-left.svg" alt="Botão Esquerdo">
        Anterior
   </a>

   <div id="content">
        <div id="center-content">
            <div id="text-about">
                <h2>Vista da beleza do sítio de uma tia minha</h2>
                <p>
                    Estar em meio à natureza é algo que me encanta e faz bem. Para mim, esta foto é sinônimo de paz :]
                </p>
            </div>
            <img src="/img/NoSitio.jpeg" alt="">
        </div>    
   </div>

   <a class="button-link right-button" href="/pedraBranca">
        Próximo
        <img src="/img/arrow-bar-right.svg" alt="Botão Direito">
   </a>
</body>
</html>