<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fotos da Natureza</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Fonte do google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Gowun+Batang&family=Halant:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
   <a class="button-link left-button" href="/princesa">
        <img src="/img/arrow-bar-left.svg" alt="Botão Esquerdo">
        Anterior
   </a>

   <div id="content">
        <div id="center-content">
            <div id="text-about">
                <h2>Show do Henrique e Juliano</h2>
                <p>
                    Um dos shows da noite de 25 de março de 2024 na Festa do Pinhão, em Lages. 
                </p>
            </div>
            <img src="/img/Show.jpeg" alt="">
        </div>    
   </div>

   <a class="button-link right-button" href="/aguasMornas">
        Próximo
        <img src="/img/arrow-bar-right.svg" alt="Botão Direito">
   </a>
</body>
</html>